.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 30px; /* gutter size offset */
  margin-right: 30px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 11px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: #f8f8ff;
  margin-bottom: 11px;
}
body{
  background-color: #101010 !important;
}

.card-img-top{
  margin: auto;

}